@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  
::-webkit-scrollbar-thumb {
    background: #010536;
    border-radius: 12px;
}

body {
    scroll-behavior: smooth;
}